html,body,h1,h2,h3,h4,h5,h6,p,div,ul,li {margin:0;padding:0;}

html {
  font-family: 'helvetica neue'
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  overflow: auto;
  padding: 10px 10px 8px 10px;
  border-bottom: 1px solid #cecece;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.brand .image {
  margin-right: 13px;
  margin-top: 4px;
  margin-bottom: 5px;
  height: 72px;
  border: 1px solid #cecece;
  padding: 3px;
}

.brand .image,
.brand .container {
  float: left;
}

.inline li{
  display: inline;
}

.social-networks {
  margin-top: 7px;
}

.sn-icon img{
  width: 25px;
  padding-right: 4px;
}

.content {
  padding: 0 10px 10px 10px;
  margin-top: 115px;
}

.clear-fix {
  clear: both;
}

.posts .post-title a{
  color: #0099CC;
}

.posts .post-info,
.post .post-info {
  font-size: 10px;
  color: #999;
  margin-bottom: 5px
}

.post-info .category {
  background-color: #666;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
}

.post .post-title {
  /*margin-bottom: 10px;*/
}

.post p {
  line-height: 25px;
  margin-bottom: 15px;
}

.post-separator {
  margin: 15px 0;
  height: 1px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.post-separator:last-child {
  display: none;
}

/*
.brand {
  margin-bottom: 5px;
}

.nav li {
  display: inline;
  padding-right: 10px;
}

.two-column {
  overflow: auto;
  width: 100%;
}

.sidebar {
  border-right: 1px solid #cecece;
}

.sidebar, .content {
  height: 100%;
  padding: 10px 15px;
}

.content {
  width: 85%;
}

.section-title {
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.post-content {
  font-size: smaller;
  width: 50%;
}

.post-content p {
  margin-bottom: 10px;
  line-height: 28px;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}



html {
  font-family: 'helvetica neue'
}

a {
  color: #0099CC;
  text-decoration: none;
  font-size: smaller;
}

.brand a {
  color: #333;
}

.brand .tagline {
  color: #888;
  font-size: smaller;
}

.brand {
  text-align: center;
}

.nav {
  text-align: center;
}

.post-date {
  font-size: 10px;
  color: #999;
}

.footer {
  font-size: 10px;
  color: #999;
}

.footer .version {
  font-size: smaller;
}



.unstyled {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tar {
  text-align: right;
}
*/
