html,body,h1,h2,h3,h4,h5,h6,p,div,ul,li {margin:0;padding:0;}

html {
  font-family: 'helvetica neue'
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  overflow: auto;
  padding: 10px 10px 8px 10px;
  border-bottom: 1px solid #cecece;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e4e3e3;
}

.brand .image {
  margin-right: 13px;
  margin-top: 4px;
  margin-bottom: 5px;
  height: 72px;
  border: 1px solid #cecece;
  padding: 3px;
}

.brand .image,
.brand .container {
  float: left;
}

.inline li{
  display: inline;
}

.social-networks {
  margin-top: 7px;
}

.sn-icon img{
  width: 25px;
  padding-right: 4px;
}

.content {
  padding: 0 10px 10px 10px;
  margin-top: 115px;
}

.clear-fix {
  clear: both;
}

.posts .post-title a{
  color: #0099CC;
}

.posts .post-info,
.post .post-info {
  font-size: 10px;
  color: #999;
  margin-bottom: 5px
}

.post-info .category {
  background-color: #666;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
}

.post .post-title {
  /*margin-bottom: 10px;*/
}

.post p {
  line-height: 25px;
  margin-bottom: 15px;
}

.post-separator {
  margin: 15px 0;
  height: 1px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.post-separator:last-child {
  display: none;
}

.inline-link {
  color: #0099CC;
  border-bottom: 1px dashed #0099CC;
}

.section-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px !important;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}
