---
layout: none
---
<!DOCTYPE html />

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Website of Steven Davie">
    <meta name="author" content="Steven Davie">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="brand header">
      <img src="http://www.gravatar.com/avatar/68398d7dbc1525103e6dd421beff013d" class="image" />

      <div class="container">
        <h2><a href="/">steven davie</a></h2>
        <p class="tagline">I do web stuff.</p>
        <ul class="social-networks inline">
          <li class="sn-icon">
            <a href="http://www.linkedin.com/pub/steven-davie/21/67a/88a/"><img src="/images/linkedin.png"/></a>
          </li>
          <li class="sn-icon">
            <a href="https://github.com/stvn"><img src="/images/github.png"/></a>
          </li>
          <li class="sn-icon">
            <a href="http://www.facebook.com/steve.davie.121"><img src="/images/facebook.png"/></a>
          </li>
          <li class="sn-icon">
            <a href="http://twitter.com/stevendavie"><img src="/images/twitter.png"/></a>
          </li>
          <li class="sn-icon">
            <a href="https://plus.google.com/105282344983798554188/posts"><img src="/images/google-plus.png"/></a>
          </li>
          <li class="sn-icon">
            <a href="http://www.flickr.com/photos/stevendavie"><img src="/images/flickr.png"/></a>
          </li>
        </ul>
      </div>
      <div class="clear-fix"></div>
    </div>

    <div class="content">
        {{ content }}
    </div>

    <div class="footer">
      &copy; 2012 stevendavie.com
    </div>
  </body>
</html>
